


/* MAIN CONTENT */


.mainContent {
  padding: 40px;
}


/* HEADER AND FOOTER NAVS */

#mainNav {

}

.navbar-collapse {
  text-align: right;

.navBar {
  padding-left: 0;
  color: orange-700;
}

.navItem {

}

.nav-link {
  padding-left: 0;
}

.navbar-collapse {
  text-align: right;
}


/* PRODUCT SECTION */

.Img {
  margin-top: 15px;
}

.actionRow {
  margin-top: 15px;
}

.cartBtn {
  width: 50%;
}

.description {
  margin-top: 20px;
  text-align: justify;
}


/* FOOTER STYLES */

.footer {
  padding: 20px;
}

.footerNav {
  max-width: 80%;
}